name: "Maven Tests"
on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened
env:
  QDRANT_URL: ${{ secrets.QDRANT_URL }}
  QDRANT_API_KEY: ${{ secrets.QDRANT_API_KEY }}
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
  - uses: actions/checkout@v4
  - uses: actions/setup-java@v3
    with:
      java-version: '17'
      distribution: 'temurin'
  - name: Run the Maven tests
    run: mvn test
