name: Maven and Python Tests
"on":
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened
env:
  QDRANT_URL: "${{ secrets.QDRANT_URL }}"
  QDRANT_API_KEY: "${{ secrets.QDRANT_API_KEY }}"
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          java-version: "8"
          distribution: temurin
      - name: Cache local Maven repository
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Run Maven tests
        run: mvn test
      - name: Generate JARs
        run: mvn clean package -DskipTests
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'
      - name: Install Python test dependencies
        run: pip install -r src/test/python/requirements.txt
      - name: Run Python tests
        run: pytest